input:
  platform: "mastodon"
  origin: ""
  access_token: ""
output:
  platform: "mastodon"
  origin: ""
  access_token: ""
  post_visibility: "unlisted"
fetch_status_count: 300
state_size: 3
min_words_count: 1
